/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.repl {
    position:relative;
    min-height:95vh;    
}

.repl-history {      
    height:55vh;   
    margin: auto;
    display: block;
    overflow: scroll;    
}

.repl-input {        
    margin: auto;    
    height:10vh;
}
.repl-command-box {
    width: 90%;            
    margin: auto;
    display: block;
}

button{
    margin: auto;
    display: block;
}

table{
    margin: auto;
    border: 3px black solid;
    border-radius: 3px;
    margin-bottom: 20px;
}

td {
    border: 2px black solid;
    border-radius: 3px;
    margin: 4px;
    padding: 10px;
}

.result-box {
    border: 4px dashed black;
    border-radius: 4px;
    width:fit-content;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.headed-table {
    margin: auto;
    border: 3px black solid;
    border-radius: 3px;
    margin-bottom: 20px;
}

.headed-table tr:first-child{
    background-color: lightblue;
}